
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<!-- blog breadcrumb version one strat here -->
<section class="breadcrumb-blog-version-one">
    <div class="single-bredcurms" style="background-image:url('../../Content/User/images/bercums/Single-Package-Details.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bredcrums-content">
                        <h2>Package</h2>
                        <ul>
                            <li>
                                <a href="index-2.html">Home</a>
                            </li>
                            <li class="active">
                                <a href="single-package.html">Package Details</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- blog breadcrumb version one end here -->

<section class="section-paddings single-package-area">
    <div class="container">
        <div class="row">
            <!-- single package tab with details -->
            <div class="col-md-8 col-sm-12">
                <div class="single-package-details">
                    <div class="single-package-title">
                        <h2>Thailand – All Stunning Places</h2>
                    </div>
                    <ul class="package-content">
                        <li>4 Days, 5 Nights</li>
                        <li>
                            <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span> (3 Reviews)
                        </li>
                        <li>Code: LMPROU</li>
                        <li>$500</li>
                    </ul>
                    <div class="package-features-image">
                        <img src="images/packages/13.jpg" alt="" class="img-responsove border-raduis-3">
                    </div>
                </div><!-- tab menu strat -->

                <div class="package-tab-menu">
                    <ul class="package-tab-menu" role="tablist" id="tab7">
                        <li role="presentation" class="active">
                            <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a>
                        </li>
                        <li role="presentation">
                            <a href="#itinerary" aria-controls="itinerary" role="tab" data-toggle="tab">Tour Itinerary</a>
                        </li>
                        <li role="presentation">
                            <a href="#map" aria-controls="map" role="tab" data-toggle="tab">Tour Map</a>
                        </li>
                        <li role="presentation">
                            <a href="#video" aria-controls="video" role="tab" data-toggle="tab">Videos</a>
                        </li>
                        <li role="presentation">
                            <a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews (3)</a>
                        </li>
                    </ul>
                </div><!-- tab menu end -->
                <!-- tab content start -->
                <div class="row">
                    <!-- tabs content -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="description">
                            <div class="row">
                                <!-- left content -->
                                <div class="col-md-8 col-sm-8">
                                    <div class="tour-description">
                                        <h4>Tour Description</h4>
                                        <p>Tourist attractions people foreign sleep overnight housing. Gerimrany group discount tour operator. Airplane couchsurfing Moi scow ma ps uncharted luxury train guest tour operator German y busre laxation. Paris overnight Japan Tripit territory international carren tal Pacific outdoor Turkey. Country international to urist attractions mil es train Moscow guide. Japan horse riding money Bacel ona Buda pest yach t passport animals package China hitchh iking discover deal. Russia St. Petersburg Cuba creditcard bookin g discover Amst erdam flying. Freedom ani mals car rental booki ng. GEO Instagram group discount Brasil Germany gateway activ e lifestyle. Transit sailing kayak diary Europe chartering.</p>
                                    </div>
                                    <div class="chosse-packge">
                                        <h4>Why you choose this package</h4>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <ul class="packaging-contents">
                                                    <li><i class="fa fa-angle-double-right"></i>Sed legere graecis ex.</li>
                                                    <li><i class="fa fa-angle-double-right"></i>Sed legere graecis ex.</li>
                                                    <li><i class="fa fa-angle-double-right"></i>Sed legere graecis ex.</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <ul class="packaging-contents packaging-contents-right pull-right">
                                                    <li><i class="fa fa-angle-double-right"></i>Sed legere graecis ex.</li>
                                                    <li><i class="fa fa-angle-double-right"></i>Sed legere graecis ex.</li>
                                                    <li><i class="fa fa-angle-double-right"></i>Sed legere graecis ex.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- left-content -->
                                <!-- right content -->
                                <div class="col-md-4 col-sm-4">
                                    <div class="additional-info">
                                        <div class="info-title">
                                            <h4>Additional Info</h4>
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7">
                                                    <div class="info-list">
                                                        <p><span><i class="fa fa-map-marker"></i></span>Location</p>
                                                        <p><span><i class="fa fa-clock-o"></i></span>Duration</p>
                                                        <p><span><i class="fa fa-user"></i></span>Min Age</p>
                                                        <p><span><i class="fa fa-users"></i></span>Max People</p>
                                                        <p><span><i class="fa fa-plane"></i></span>Landing</p>
                                                        <p><span><i class="fa fa-calendar-check-o"></i></span>Check In</p>
                                                        <p><span><i class="fa fa-calendar-minus-o"></i></span>Check Out</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-5">
                                                    <div class="info-details">
                                                        <p>Thailand</p>
                                                        <p>4 days</p>
                                                        <p>12+</p>
                                                        <p>5</p>
                                                        <p>Thailand</p>
                                                        <p>15/5/2018</p>
                                                        <p>19/5/2018</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- right content -->
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="itinerary">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="tour-description">
                                        <h4>Tour Description</h4>
                                        @Html.Partial("~/Views/TourisSpot/_ImgTravel.cshtml");
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="map">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="tour-description">
                                        <h4>Map Tour</h4>
                                        <!-- map -->
                                        <div class="mapp" id="overlay">
                                            <iframe id="maping" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.701132954845!2d-96.89708368545975!3d32.879626086054884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e9d666937c1f7%3A0xae26e896218f405!2sUSA+Bowl!5e0!3m2!1sbn!2sbd!4v1493296407400" allowfullscreen></iframe>
                                        </div><!-- map -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- video tab content start -->
                        <div role="tabpanel" class="tab-pane fade" id="video">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="tour-description">
                                        <h4>Video</h4>
                                        <!-- Video -->
                                        <div class="tab-video-area video-bg">
                                            <div class="video-play-btn">
                                                <a href="https://www.youtube.com/watch?v=UQneDljrWm0" class="video_iframe"><span><i class="fa fa-play"></i></span></a>
                                            </div>
                                        </div><!-- Video -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- video tab content end -->
                        <!-- video tab content start -->
                        <div role="tabpanel" class="tab-pane fade" id="reviews">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="tour-description">
                                        <h4>Reviews</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nulla, omnis impedit possimus, quos inventore quo. Rem asperiores culpa, accusantium, reiciendis sint nihil excepturi minima officiis voluptatum omnis qui. Quisquam blanditiis quaerat commodi autem, ducimus, perspiciatis unde est nisi dolore consequatur expedita sint placeat inventore, alias, perferendis nobis adipisci tempore excepturi cupiditate harum odit ipsa deserunt. Quaerat praesentium odio voluptatem commodi vitae dolore, a amet suscipit eligendi ut repellendus ducimus tempora, est, tempore dignissimos expedita cupiditate quisquam minima dolores possimus. In porro vitae provident esse voluptas cum inventore magnam praesentium quaerat veritatis, explicabo non doloremque rerum, nulla maxime architecto, libero.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nulla, omnis impedit possimus, quos inventore quo. Rem asperiores culpa, accusantium, reiciendis sint nihil excepturi minima officiis voluptatum omnis qui. Quisquam blanditiis quaerat commodi autem, ducimus, perspiciatis unde est nisi dolore consequatur expedita sint placeat inventore, alias, perferendis nobis adipisci tempore excepturi cupiditate harum odit ipsa deserunt. Quaerat praesentium odio voluptatem commodi vitae dolore, a amet suscipit eligendi ut repellendus ducimus tempora, est, tempore dignissimos expedita cupiditate quisquam minima dolores possimus. In porro vitae provident esse voluptas cum inventore magnam praesentium quaerat veritatis, explicabo non doloremque rerum, nulla maxime architecto, libero.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur totam accusamus, libero, eaque cupiditate veritatis placeat dignissimos voluptatum, alias similique ad laudantium perferendis dolore ipsa vero iure praesentium asperiores quia rem maxime rerum, labore sed. Dolorem, nisi, inventore! Explicabo vel cupiditate quidem at, deleniti nostrum. Possimus cumque, minima maxime at.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- video tab content end -->
                    </div><!-- tabs content-->
                </div><!-- tab content end -->
            </div><!-- single package tab with details -->
            <!-- booking form start here -->
            <div class="col-md-4 col-sm-12">
                <aside>
                    <div class="booking-form">
                        <div class="booking-title">
                            <h2>Book This Tour</h2>
                        </div>
                        <form action="#" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Name *">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="confirm_email" placeholder="Confirm E-mail *">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" id="number" placeholder="Phone Number *">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="booking-date" placeholder="dd-mm-yy *">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="ticket" placeholder="Number Of Tickets *">
                            </div>
                            <div class="form-group">
                                <textarea name="messgae" id="message" cols="30" rows="10" class="form-control" placeholder="Message *"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="check-availability">Check Availability</button>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="booking-confirm hvr-shutter-out-horizontal">Book Now</button>
                            </div>
                        </form>
                    </div>
                </aside><!-- adverestment start here-->

                <div class="adding-form">
                    <div class="addfor-bg">
                        <div class="add-content">
                            <h3>Any Question?</h3>
                            <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit, sedpr do eiusmod tempor incididunt ut.</p>
                            <ul class="contact-for-add">
                                <li><img src="images/icon/phone.png" alt="">+123-456-7890</li>
                                <li><img src="images/icon/gmail.png" alt="">info@yourcompany.com</li>
                            </ul>
                        </div>
                    </div>
                </div><!-- adverestment start here-->
            </div><!-- booking form end here -->
        </div>
    </div>
</section>

<!-- realted tour start here -->
<section class="related-tour popular-packages">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title-3 mbt-100 related-title">
                    <h2>Related Post</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single package start -->
            <div class="col-md-4 col-sm-4">
                <div class="single-package">
                    <div class="package-image">
                        <a href="#">
                            <img src="images/packages/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="package-content">
                        <h3>Dubai – All Stunning Places</h3>
                        <p>
                            4Days, 5 Nights Start From <span>$500</span>
                        </p>
                    </div>
                    <div class="package-calto-action">
                        <ul class="ct-action">
                            <li>
                                <a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">Book Now</a>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- single package end -->
            <!-- single package start -->
            <div class="col-md-4 col-sm-4">
                <div class="single-package">
                    <div class="package-image">
                        <a href="#">
                            <img src="images/packages/2.jpg" alt="">
                        </a>
                    </div>
                    <div class="package-content">
                        <h3>Dubai – All Stunning Places</h3>
                        <p>
                            4Days, 5 Nights Start From <span>$500</span>
                        </p>
                    </div>
                    <div class="package-calto-action">
                        <ul class="ct-action">
                            <li>
                                <a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">Book Now</a>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--End single package -->

            <div class="col-md-4 col-sm-4">
                <div class="single-package">
                    <div class="package-image">
                        <a href="#">
                            <img src="images/packages/3.jpg" alt="">
                        </a>
                    </div>
                    <div class="package-content">
                        <h3>Dubai – All Stunning Places</h3>
                        <p>
                            4Days, 5 Nights Start From <span>$500</span>
                        </p>
                    </div>
                    <div class="package-calto-action">
                        <ul class="ct-action">
                            <li>
                                <a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">Book Now</a>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--End single package -->
        </div>
    </div>
</section>

