
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 class="text-center">Register Acount Success</h2>
<h3 class="text-right"><a href="@Url.Action("Index","Index")">Home</a></h3>

