
@{
    ViewBag.Title = "UploadAbout";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">Upload About</h2>

@using (Html.BeginForm("UploadAbout", "Abouts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-inline text-center">
        <!-- File Upload -->
        <div class="form-group">

            <input type="file" class="form-control" name="file" />
            <br />
            <br />
            <input type="submit" value="Upload" class="btn btn-primary" />

        </div>
    </div>

}

