
@{
    ViewBag.Title = "Susses";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using KarnelTravel.Models
@model List<ItemGioHang>
@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<section class="breadcrumb-blog-version-one">
    <div class="single-bredcurms" style="background-image:url('../../Content/User/images/bercums/contact-page.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bredcrums-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div style="background-color:antiquewhite">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p class="text-info text-center">
        Congratulations on your successful tour booking!!!
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>


